<div id="fragments">
	<div class="fragment fade-out" data-fragment-index="0">
		<img class="trio trio-1" data-src="assets/images/MWC_AVA_imgs_holos_0002_Mobile.jpg"
		     alt="landing page background"/>
	</div>
	<div class="fragment fade-up" data-fragment-index="0">
		<video-slide style="left:0;top:0;height:100%; width:100%" class="ng-isolate-scope"
		             src="assets/animation/metrobus.mp4">
			<div class="video-slide">
				<video class="video-slide__video" playsinline webkit-playsinline>
					<source src="assets/animation/metrobus.mp4" type="video/mp4"
					        ng-data-src="assets/animation/metrobus.mp4">
				</video>
			</div>
		</video-slide>
	</div>
</div>