<div class="slide-gradient">
<img class="background-image scale-alternate" style="left:10%;width:85%" data-src="assets/images/attraction.jpg" alt="landing page background">
	<div class="swipe"><div class="blue-fader"></div></div>
		<span class="text-slide text-animate">Family wanting to <br> visit Barcelona city <br>attractions.</span>

	<a class="slide-logo-white" href="#/3"></a>
</div>