<div class="slide-gradient" style="position:relative;width:100%;height:100%;padding:0;margin:0;">
	<video-slide class="ng-isolate-scope" loop="true" data-src="assets/animation/Perhe_syomassa.mp4">
		<div class="video-slide">
			<video class="video-slide__video" loop="true" playsinline webkit-playsinline>
				<source data-src="assets/animation/Perhe_syomassa.mp4" type="video/mp4"
				        ng-data-data-src="assets/animation/stock-footage-family-breakfast-in-the-cafe.mp4">
			</video>
		</div>
	</video-slide>
	<div class="blue-fader"></div>
	<div>
		<div>
			<div class="text-container">
				<span class="title-slide-intro">Mobility Analytics <br>for businesses</span>
				<span class="text-slide-intro">Increasing business efficiency <br>by creating new revenue <br>streams and opportunities in <br>urban living areas.</span>
			</div>
		</div>
		<a class="slide-logo-white" href="#/3"></a>
	</div>

	<a href="#/5" style="display: block;left: 85%;position: relative;top: 0;width: 15%;height: 80%; background: url(assets/images/right.svg) no-repeat 91% 60%; background-size: 13%;">
		<div class="move-button--slide9">
			<move-button target-slide="" with-highlight="" class="move-button--slide9"></move-button>
		</div>
	</a>
</div>