<div hidden id="abl-3-image" class="slide-gradient">
	<div class="swipe">
		<div class="blue-fader-fast"></div>
	</div>
	<img class="background-image" data-src="assets/images/NOKIA_AVA_holo_screens_busstop.jpg"
	     alt="landing page background">
</div>
<div id="abl-3-video">
	<video-slide style="left:0;top:0;height:100%; width:100%" class="ng-isolate-scope"
	             src="assets/animation/cut2.mp4">
		<div class="video-slide">
			<video class="video-slide__video" playsinline webkit-playsinline>
				<source src="assets/animation/cut2.mp4" type="video/mp4" ng-data-src="assets/animation/cut2.mp4">
			</video>
		</div>
	</video-slide>
</div>

<a class="ar-toggle-link" href="javascript:void(0)" onclick="toggleABL3()">
	<img src="assets/images/AVA_ar_icon.png" class="ar-toggle-link__icon">
</a>

<move-button target-slide="10"  with-highlight="" class="move-button--slide1"></move-button>

<script>
	function toggleABL3() {
		var abl3_video = document.getElementById('abl-3-video');
		var abl3_image = document.getElementById('abl-3-image');
		if (abl3_video.hasAttribute('hidden')) {
			abl3_image.setAttribute('hidden', 'hidden');
			abl3_video.removeAttribute('hidden');
		} else {
			abl3_video.setAttribute('hidden', 'hidden');
			abl3_image.removeAttribute('hidden');
		}
	}
</script>