<!--<img class="background-image" data-src="assets/images/intro.png" alt="landing page background">-->

<!--for busineess-->
<video-slide class="ng-isolate-scope" loop="true" src="assets/animation/blue_back.mp4">
	<div class="video-slide">
		<video class="video-slide__video" loop="true" playsinline webkit-playsinline>
			<source src="assets/animation/blue_back.mp4" type="video/mp4" ng-data-src="assets/animation/blue_back.mp4">
		</video>
	</div>
</video-slide>
		<a class="intro-logo-white" href="#/3"></a>

<div class="text-container">
<span class="title-slide-intro text-animate">Mobility Analytics <br>for businesses</span>
<span class="text-slide-intro text-animate">New opportunities improving <br>customer targeting and <br>personalized services.</span>
</div>

<!--<div class="move-button&#45;&#45;slide7"><a  href="#/4/4"><move-button target-slide=""  with-highlight="true" class="move-button&#45;&#45;slide7"></move-button></a></div>-->

<div class="button-container">
	<div class="intro-buttons">
		<a href="#/4"><move-button  target-slide="" label="For cities"></move-button></a>
		<a href="#/5"><move-button class="active" target-slide="5" label="For business"></move-button></a>
		<a href="#/6"><move-button target-slide="6" label="For people"></move-button></a>
	</div>
</div>
