<div>
	<img class="background-image   scale-alternate" data-src="assets/images/MWC_AVA_imgs_holos_0003_Airport_3a.jpg" alt="landing page background">
	<div class="blue-fader"></div>
	<span class="text-slide text-animate">Family arrives <br>in Barcelona</span>

	<a class="slide-logo-white" href="#/3"></a>
</div>