<div class="slide-gradient">
		<video-slide class="ng-isolate-scope" loop="true" data-src="assets/animation/Lentokentta.mp4">
			<div class="video-slide">
				<video class="video-slide__video" loop="true" playsinline webkit-playsinline>
					<source data-src="assets/animation/Lentokentta.mp4" type="video/mp4" ng-data-src="assets/animation/Lentokentta.mp4">
				</video>
			</div>
		</video-slide>
		<div class="blue-fader"></div>

			<div class="text-container animate-fragment">
				<span class="title-slide-intro">Mobility Analytics benefit for cities</span>
				<span class="text-slide-intro">Mobility Analytics provides the possibility to use near real-time network data on how the urban crowd is moving or using services, enabling increased city and transportation planning efficiency.</span>
			</div>
		<a class="slide-logo-white" href="#/3"></a>
</div>