<!--<div class="swipe"><div class="blue-fader-fast"></div></div>-->
<video-slide class="ng-isolate-scope" data-src="assets/animation/aloituskuva6.mp4">
	<div class="video-slide">
		<video class="video-slide__video" loop="true" playsinline webkit-playsinline>
			<source src="assets/animation/aloituskuva6.mp4" type="video/mp4" ng-data-src="assets/animation/aloituskuva6.mp4">
		</video>
	</div>
</video-slide>
<div class="text-slide-intro" style="margin-left: 10%; width:60%; top:70%; font-size:100px;">Anonymized network data providing insights based on user behaviour.</div>
<a class="slide-logo-white" href="#/3"></a>
<!--TODO AUTOPLAY-->