<img hidden id="acl-2-image" class="background-image holo-image" src="assets/images/NOKIA_AVA_holo_screens_airport.jpg" alt="">
<div id="acl-2-video">
	<video-slide style="left:0;top:0;height:100%; width:100%" class="ng-isolate-scope" src="assets/animation/cut1.mp4">
		<div class="video-slide">
			<video class="video-slide__video"  playsinline webkit-playsinline>
				<source src="assets/animation/cut1.mp4" type="video/mp4" ng-data-src="assets/animation/cut1.mp4">
			</video>
		</div>
	</video-slide>
</div>

<a class="ar-toggle-link" href="javascript:void(0)" onclick="toggleACL2()">
	<img src="assets/images/AVA_ar_icon.png" class="ar-toggle-link__icon">
</a>

<move-button target-slide="8"  with-highlight="" class="move-button--slide1"></move-button>

<script>
	function toggleACL2() {
		var acl2_video = document.getElementById('acl-2-video');
		var acl2_image = document.getElementById('acl-2-image');
		if (acl2_video.hasAttribute('hidden')) {
			acl2_image.setAttribute('hidden', 'hidden');
			acl2_video.removeAttribute('hidden');
		} else {
			acl2_video.setAttribute('hidden', 'hidden');
			acl2_image.removeAttribute('hidden');
		}
	}
</script>