<!--<img class="background-image" src="assets/images/intro.png" alt="landing page background">-->

<!--cities-->



<video-slide class="ng-isolate-scope" loop="true" src="assets/animation/blue_back.mp4">
	<div class="video-slide">
		<video class="video-slide__video" loop="true" playsinline webkit-playsinline>
			<source src="assets/animation/blue_back.mp4" type="video/mp4" ng-data-src="assets/animation/blue_back.mp4">
		</video>
	</div>
</video-slide>
<a class="intro-logo-white" href="#/3"></a>
<div class="text-container">
	<span class="title-slide-intro text-animate">Mobility Analytics <br>for cities</span>
	<span class="text-slide-intro text-animate">More efficient city planning <br>equals smarter services and transportation.</span>
</div>
		<div class="intro-buttons">
			<a href="#/4"><move-button class="active" target-slide="" label="For cities"></move-button></a>
			<a href="#/5"><move-button target-slide="5" label="For business"></move-button></a>
			<a href="#/6"><move-button target-slide="6" label="For people"></move-button></a>
		</div>

