<!--<img class="background-image" data-src="assets/images/intro.png" alt="landing page background">-->

<!--PEOPLE-->

<video-slide class="ng-isolate-scope" loop="true" src="assets/animation/blue_back.mp4">
	<div class="video-slide">
		<video class="video-slide__video" loop="true" playsinline webkit-playsinline>
			<source src="assets/animation/blue_back.mp4" type="video/mp4" ng-data-src="assets/animation/blue_back.mp4">
		</video>
	</div>
</video-slide>
<a class="intro-logo-white" href="#/3"></a>
		<div class="text-container">
			<span class="title-slide-intro text-animate">Mobility Analytics <br>for people</span>
			<span class="text-slide-intro text-animate">Personalized information <br>equals valuable insights <br>and relevant offers.</span>
		</div>
<!--<div class="move-button&#45;&#45;slide7"><a  href="#/5/5"><move-button target-slide=""  with-highlight="true" class="move-button&#45;&#45;slide7"></move-button></a></div>-->

<div class="intro-buttons">
	<a href="#/4"><move-button  target-slide="" label="For cities"></move-button></a>
	<a href="#/5"><move-button target-slide="5" label="For business"></move-button></a>
	<a href="#/6"><move-button  class="active" target-slide="6" label="For people"></move-button></a>
</div>
<!--<?xml version="1.0" encoding="utf-8"?>-->
<!--&lt;!&ndash; Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  &ndash;&gt;-->
		<!--<svg class="introanim" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"-->
	 <!--viewBox="0 0 695.3 1041.9" style="position: absolute;top: -60%;left: 7%; font-family: 'nokia-pure-headline';" xml:space="preserve">-->
<!--<style type="text/css">-->
	<!--.st0{fill:none;stroke:#4AC1ED;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0,8;}-->
	<!--.st1{fill:none;}-->
	<!--.st2{fill:#3CBFF0;}-->
	<!--.st3{-->
		<!--font-family: "nokia-pure-headline", Helvetica, Arial, serif;-->
	<!--}-->
	<!--.st4{font-size:98.6977px; font-weight:100;}-->
<!--</style>-->
			<!--&lt;!&ndash; strokedash offset &ndash;&gt;-->
<!--<ellipse class="st0" cx="298.5" cy="420.7" rx="151.1" ry="151.1"/>-->
<!--<g  transform="matrix(0.4429 -0.8966 0.8966 0.4429 -210.8457 501.9841)">-->
	<!--<ellipse class="st0" cx="298.5" cy="420.7" rx="151.1" ry="106.1"></ellipse>-->
<!--</g>-->
<!--<g  transform="matrix(0.4429 -0.8966 0.8966 0.4429 -210.8457 501.9841)">-->
	<!--<ellipse class="st0" cx="298.5" cy="420.7" rx="106.1" ry="151.1"></ellipse>-->
<!--</g>-->
<!--<g transform="matrix(0.7842 -0.6205 0.6205 0.7842 -196.6009 276.0055)">-->
	<!--<ellipse class="st0" cx="298.5" cy="420.7" rx="106.1" ry="151.1"></ellipse>-->
<!--</g>-->
	<!--<rect x="18.7" y="376" class="st1" width="559.3" height="85.5"/>-->
	<!--<text transform="matrix(1 0 0 1 213.2162 450.0249)" class="st2 st3 st4"> AVA</text>-->

<!--</svg>-->
