<div style="position:relative;width:100%;height:100%;padding:0;margin:0;">
	<move-button target-slide="19" with-highlight="" class="move-button--slide1"></move-button>

	<div hidden id="ahl-4-image" class="slide-gradient">
		<div class="swipe">
			<div class="blue-fader-fast"></div>
		</div>
		<img class="background-image" data-src="assets/images/NOKIA_AVA_holo_screens_beach.jpg"
		     alt="landing page background">
	</div>

	<div id="ahl-4-video">
		<video-slide style="left:0;top:0;height:100%; width:100%" class="ng-isolate-scope"
		             src="assets/animation/cut3.mp4">
			<div class="video-slide">
				<video class="video-slide__video" playsinline webkit-playsinline>
					<source src="assets/animation/cut3.mp4" type="video/mp4" ng-data-src="assets/animation/cut3.mp4">
				</video>
			</div>
		</video-slide>
	</div>

	<a class="ar-toggle-link" href="javascript:void(0)" onclick="toggleAHL4()">
		<img src="assets/images/AVA_ar_icon.png" class="ar-toggle-link__icon">
	</a>

	<a href="#/5"
	   style="display: block;left: 85%;position: relative;top: 0;width: 15%;height: 80%; background: url(assets/images/right.svg) no-repeat 91% 60%; background-size: 13%;">
		<div class="move-button--slide9">
			<move-button target-slide="" with-highlight="" class="move-button--slide9"></move-button>
		</div>
	</a>
</div>

<script>
	function toggleAHL4() {
		var ahl4_video = document.getElementById('ahl-4-video');
		var ahl4_image = document.getElementById('ahl-4-image');
		if (ahl4_video.hasAttribute('hidden')) {
			ahl4_image.setAttribute('hidden', 'hidden');
			ahl4_video.removeAttribute('hidden');
		} else {
			ahl4_video.setAttribute('hidden', 'hidden');
			ahl4_image.removeAttribute('hidden');
		}
	}
</script>