<div hidden id="ahl-2-image" class="slide-gradient">
	<div class="swipe">
		<div class="blue-fader-fast"></div>
	</div>

	<img class="background-image holo-image" data-src="assets/images/NOKIA_AVA_holo_screens_street.jpg"
	     alt="landing page background">
</div>

<div id="ahl-2-video">
	<video-slide style="left:0;top:0;height:100%; width:100%" class="ng-isolate-scope"
	             src="assets/animation/cut5.mp4">
		<div class="video-slide">
			<video class="video-slide__video" playsinline webkit-playsinline>
				<source src="assets/animation/cut5.mp4" type="video/mp4" ng-data-src="assets/animation/cut5.mp4">
			</video>
		</div>
	</video-slide>
</div>

<a class="ar-toggle-link" href="javascript:void(0)" onclick="toggleAHL2()">
	<img src="assets/images/AVA_ar_icon.png" class="ar-toggle-link__icon">
</a>

<script>
	function toggleAHL2() {
		var ahl2_video = document.getElementById('ahl-2-video');
		var ahl2_image = document.getElementById('ahl-2-image');
		if (ahl2_video.hasAttribute('hidden')) {
			ahl2_image.setAttribute('hidden', 'hidden');
			ahl2_video.removeAttribute('hidden');
		} else {
			ahl2_video.setAttribute('hidden', 'hidden');
			ahl2_image.removeAttribute('hidden');
		}
	}
</script>

<move-button target-slide="11" with-highlight="" class="move-button--slide1"></move-button>
