<div class="slide-gradient">
	<div class="text-container animate-fragment">
		<span class="title-slide-intro">Mobility Analytics <br>for people</span>
		<span class="text-slide-intro">Tailored solutions and <br>personalized information <br>leading to an enhanced lifestyle.</span>
	</div>
<a class="slide-logo-white" href="#/3"></a>
<img class="background-image image-greyscale" data-src="assets/images/MWC_AVA_imgs_family.jpg" alt="landing page background">
<div class="blue-fader"></div>
</div>