<span class="title-slide">Mobility Analytics for cities</span>
<span class="text-slide">Understand and utilize real data on where, how and when the urban crowd is moving.</span>
<div class="blue-filter-strong"></div>

<img class="background-image" data-src="assets/images/MWC_AVA_imgs_holos_0003_Airport_3a.jpg" alt="landing page background">

<move-button target-slide="4"  with-highlight="" class="move-button--slide4"></move-button>
