<div class="blue-filter-strong"></div>
<span class="title-slide">AVA for businesses.</span>
<span class="text-slide">New and improved oppor-<br>tunities equals traction and <br>adequate services.</span>

<img class="background-image" data-src="assets/images/MWC_AVA_imgs_holos_0000_Bus_stop 2.jpg" alt="landing page background">

<move-button target-slide="5"  with-highlight="" class="move-button--slide4"></move-button>
