<div class="blue-filter-strong"></div>
<span class="title-slide">AVA for people.</span>
<span class="text-slide">Targeted information <br>equals valuable <br> insights and offers.</span>

<img class="background-image" data-src="assets/images/MWC_AVA_imgs_holos_0004_Air_street_1.jpg" alt="landing page background">

<move-button target-slide="6"  with-highlight="" class="move-button--slide4"></move-button>
