<!--<img class="background-image" src="assets/images/intro.png" alt="landing page background">-->
<div class="slide-gradient">
<video-slide class="ng-isolate-scope" loop="true" src="assets/animation/blue_back.mp4">
	<div class="video-slide">
		<video class="video-slide__video" loop="true" playsinline webkit-playsinline>
			<source src="assets/animation/blue_back.mp4" type="video/mp4" ng-data-src="assets/animation/blue_back.mp4">
		</video>
	</div>
</video-slide>

<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg class="introanim" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 845.3 1341.9" style="position: absolute;top: -40%;left: 36%;z-index: 2;font-family: 'nokia-pure-headline';" xml:space="preserve">
		<style type="text/css">
		.st01{fill:none;stroke:#fff;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0,8;}
		.st1{fill:none;}
		.st21{fill:#fff;}
		.st3{
			font-family: "nokia-pure-headline", Helvetica, Arial, serif;
		}
		.st4{font-size:98.6977px; font-weight:100;}
	</style>
	<!-- strokedash offset -->
	<ellipse class="st01" cx="298.5" cy="420.7" rx="151.1" ry="151.1"></ellipse>
	<g transform="matrix(0.4429 -0.8966 0.8966 0.4429 -210.8457 501.9841)">
		<ellipse class="st01" cx="298.5" cy="420.7" rx="151.1" ry="106.1"></ellipse>
	</g>
	<g transform="matrix(0.4429 -0.8966 0.8966 0.4429 -210.8457 501.9841)">
		<ellipse class="st01" cx="298.5" cy="420.7" rx="106.1" ry="151.1"></ellipse>
	</g>
	<g transform="matrix(0.7842 -0.6205 0.6205 0.7842 -196.6009 276.0055)">
		<ellipse class="st01" cx="298.5" cy="420.7" rx="106.1" ry="151.1"></ellipse>
	</g>
		<rect x="18.7" y="376" class="st1" width="559.3" height="85.5"></rect>
		<rect x="18.7" y="176" class="st1" width="559.3" height="85.5"></rect>

		<text transform="matrix(1 0 0 1 223.2162 450.0249)" class="st21 st3 st4"> AVA</text>
		<text transform="matrix(1 0 0 1 263.2162 370.0249)" class="st21 st3 st4" style="font-size: 14.6977px;">powered by</text>
	</svg>

<move-button ng-click="menu.resetSlideState();" target-slide="next" with-highlight="" class="move-button--slide5"></move-button>

<div class="text-container" style="width: 40%;">
	<span class="title-slide-intro">Nokia AVA</span>
	<div class="slideshow1">Enabling advanced analytics with Machine Learning & AI.</div>
	<div class="slideshow2">Virtualized  delivery leveraging cloud infrastructure.</div>
	<div class="slideshow3">Making extreme  Automation of  technical processes  possible.</div>
</div>


<a class="intro-logo-white" href="#/3"></a>
<div class="intro-slide__minititle"></div>

</div>

