
<div class="blue-filter-strong" style="z-index:2;"></div>
<img class="background-image" src="assets/images/Glbl_sec_comps_2_0020_Metro_3.png" alt="landing page background">
<span class="title-slide ">
			AVA for cities.
		</span>
<span class="text-slide ">Understand and utilize real data on where, how and when the urban crowd is on the move.
</span>
<move-button target-slide="4"  with-highlight="" class="move-button--slide4"></move-button>

