<div class="slide-gradient map-background" style="height: 100%; width: 100%; margin: 0; padding: 0; position: relative;">

	<img class="background-image-map" src="assets/images/NOKIA_AVA_map_96x26_fordemo.jpg" alt="landing page background">
	<div class="text-container" style="top: 5%;">
		<span class="title-slide-intro text-animate">Mobility Analytics <br>for cities</span>
		<span class="text-slide-intro text-animate">Understand and utilize real data<br> on where, how and when the<br> urban crowd is moving.</span>
	</div>

	<a href="#/5" style="display: block;left: 85%;position: relative;top: 0;width: 15%;height: 80%; background: url(assets/images/right.svg) no-repeat 91% 60%; background-size: 13%;">
		<div class="move-button--slide9">
			<move-button target-slide="" with-highlight="" class="move-button--slide9"></move-button>
		</div>
	</a>

</div>
