<div hidden id="museum-image" class="slide-gradient">
	<div class="swipe">
		<div class="blue-fader-fast"></div>
	</div>
	<img class="background-image" data-src="assets/images/NOKIA_AVA_holo_screens_museum.jpg"
	     alt="landing page background">
</div>

<div id="museum-video">
	<video-slide style="left:0;top:0;height:100%; width:100%" class="ng-isolate-scope"
	             src="assets/animation/cut4.mp4">
		<div class="video-slide">
			<video class="video-slide__video" playsinline webkit-playsinline>
				<source src="assets/animation/cut4.mp4" type="video/mp4" ng-data-src="assets/animation/cut4.mp4">
			</video>
		</div>
	</video-slide>
</div>

<a class="ar-toggle-link" href="javascript:void(0)" onclick="toggleMuseum()">
	<img src="assets/images/AVA_ar_icon.png" class="ar-toggle-link__icon">
</a>

<script>
	function toggleMuseum() {
		var museum_video = document.getElementById('museum-video');
		var museum_image = document.getElementById('museum-image');
		if (museum_video.hasAttribute('hidden')) {
			museum_image.setAttribute('hidden', 'hidden');
			museum_video.removeAttribute('hidden');
		} else {
			museum_video.setAttribute('hidden', 'hidden');
			museum_image.removeAttribute('hidden');
		}
	}
</script>

<move-button target-slide="10" with-highlight="" class="move-button--slide1"></move-button>
