<!--<img class="background-image" src="assets/images/intro.png" alt="landing page background">-->


<div class="intro-buttons">
	<move-button target-slide="1" label="For cities"></move-button>
	<move-button target-slide="2" label="For business"></move-button>
	<move-button target-slide="3" label="For people"></move-button>
</div>



<video-slide class="ng-isolate-scope" loop="true" src="assets/animation/blue_back.mp4">
	<div class="video-slide">
		<video class="video-slide__video" loop="true" playsinline webkit-playsinline>
			<source src="assets/animation/blue_back.mp4" type="video/mp4" ng-data-src="assets/animation/blue_back.mp4">
		</video>
	</div>
</video-slide>
<div class="logo-container">

	<svg class="introanim" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 695.3 1041.9" style="position: absolute;top: -60%;left: 7%; font-family: 'nokia-pure-headline';" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;stroke:#4AC1ED;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0,8;}
	.st1{fill:none;}
	.st2{fill:#3CBFF0;}
	.st3{
		font-family: "nokia-pure-headline", Helvetica, Arial, serif;
	}
	.st4{font-size:98.6977px; font-weight:100;}
</style>
		<!-- strokedash offset -->
<ellipse class="st0" cx="298.5" cy="420.7" rx="151.1" ry="151.1"/>
<g  transform="matrix(0.4429 -0.8966 0.8966 0.4429 -210.8457 501.9841)">
	<ellipse class="st0" cx="298.5" cy="420.7" rx="151.1" ry="106.1"></ellipse>
</g>
<g  transform="matrix(0.4429 -0.8966 0.8966 0.4429 -210.8457 501.9841)">
	<ellipse class="st0" cx="298.5" cy="420.7" rx="106.1" ry="151.1"></ellipse>
</g>
<g transform="matrix(0.7842 -0.6205 0.6205 0.7842 -196.6009 276.0055)">
	<ellipse class="st0" cx="298.5" cy="420.7" rx="106.1" ry="151.1"></ellipse>
</g>
	<rect x="18.7" y="376" class="st1" width="559.3" height="85.5"/>
	<text transform="matrix(1 0 0 1 213.2162 450.0249)" class="st2 st3 st4"> AVA</text>

</svg>
</div>

<a class="intro-logo-white" href="#/3"></a>
<div class="intro-slide__minititle"></div>
<div class="intro-slide__heading intro-animation">
	Nokia Mobility <br>Analytics
</div>
<span class="text-slide-intro intro-animation">Delivering business insights <br>for flawless experience.</span>

