<video-slide style="left:2.5%;top:2.5%;height:95%; width:95%" class="ng-isolate-scope" src="assets/animation/Grid360 Demo_Nokia_Transportation.mp4">
	<div class="video-slide">
		<video class="video-slide__video" loop="" playsinline webkit-playsinline>
			<source src="assets/animation/blue_back.mp4" type="video/mp4" ng-data-src="assets/animation/Grid360 Demo_Nokia_Transportation.mp4">
		</video>
	</div>
</video-slide>
<move-button class="move-button--exit" ng-click="menu.resetSlideState();" target-slide="13" with-highlight=""></move-button>