<video-slide class="ng-isolate-scope" loop="true" data-src="assets/animation/blue_back.mp4">
	<div class="video-slide">
		<video class="video-slide__video" loop="true" playsinline webkit-playsinline>
			<source src="assets/animation/blue_back.mp4" type="video/mp4" ng-data-src="assets/animation/blue_back.mp4">
		</video>
	</div>
</video-slide>

<div class="text-container">
	<span class="title-slide-intro text-animate">Use case videos</span>
	<span class="text-slide-intro text-animate"></span>
</div>

<div class="video-container">
	<a href="#/14">
		<img src="assets/images/Thumbnail_transportation.png" class="video-thumb"/>
		<div class="video-thumb-text">Mobility analytics transportation</div>
	</a>
	<a href="#/15">
		<img src="assets/images/Thumbnail_tourism.png" class="video-thumb"/>
		<div class="video-thumb-text">Mobility analytics tourism</div>
	</a>
	<a href="#/16">
		<img src="assets/images/Thumbnail_retail.png" class="video-thumb"/>
		<div class="video-thumb-text">Mobility analytics retail</div>
	</a>
</div>

<a class="slide-logo-white" href="#/3"></a><div class="slide-logo-white"></div>