<div class="video-slide">
    <video class="video-slide__video" playsinline webkit-playsinline>
        <source ng-data-src="{{src}}" type="video/mp4" />
    </video>
    <rzslider ng-if="!loop" rz-slider-model="slider.current" rz-slider-ceil="slider.options.ceil" data-prevent-swipe
            rz-slider-floot="slider.options.floor"
            rz-slider-scale="slider.options.sliderScale"
            rz-slider-on-change="slider.options.onChange()"
            rz-slider-precision="4"
            rz-slider-step="0.001"
            rz-slider-hide-limit-labels="true"></rzslider>
</div>
