

//animation variables

$FadeInTime: 1.5s;
$FadeInDelayTime: 0.3s;

$TextFadeInTime: 0;
$TextDelayTime: 0.3s;


.text-animate {
	font-size: 80px;
	position: absolute;
	font-weight: 300;
	line-height: 1.3em;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	animation-timing-function: ease-in-out;
	section & {
		transform: translate(-32px, -50%);
		opacity: 0;
	}
}

section.present{

	.text-animate {
		@include accelerate();
		animation: text-fadein 0.43s 1.2s forwards;
	}
}


	.stack{
	section.present{
		.blue-fader {
			@include accelerate();
			animation: fade-blue #{$FadeInTime} #{$FadeInDelayTime} forwards;

			-webkit-transform: skew(15deg);
			-moz-transform: skew(15deg);
			-o-transform: skew(15deg);

		}

		.text-animate {
			@include accelerate();
			animation: text-fadein 0.43s 1.2s forwards;
		}
	}
}

.introanim{
	ellipse{
		transition-timing-function: linear;
	}
}


.fragment .display-current .visible{
	opacity: 1;
}


section.present {

	.introanim {
		ellipse{
			@include accelerate();
			animation: dashmove 25000ms linear infinite forwards;
			-webkit-animation:  dashmove 25000ms linear infinite forwards;
			-webkit-animation-fill-mode: forwards;
			-moz-animation-fill-mode: forwards;
			-o-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
			-o-animation:  dashmove 25000ms linear infinite forwards;

		}
	}
}

@-webkit-keyframes dashmove{
	to{
		stroke-dashoffset: 210;
	}
}

@keyframes dashmove{
	to{
		stroke-dashoffset: 210;
	}
}



@-webkit-keyframes fade-blue {
	0% {

		width: 0;
	}

	100% {

		width: 130%;
	}
}

@keyframes fade-blue {
	0% {

		width: 0;
	}

	100% {

		width: 130%;
	}
}




@-webkit-keyframes quickfade {
	0% {

		width: 0;
	}
	100% {

		width: 130%;
	}
}

@keyframes quickfade {
	0% {

		width: 0;
	}

	100% {

		width: 130%;
	}
}
//
//@keyframes fragment-text {
//
//}
//
//
//@-webkit-keyframes fragment-text {
//	0% {
//
//	}
//}


 section {
	img.trio{
		border: none;
		position: absolute;
		width: 100%;
		height: 100%;
		max-width: 100%;
		max-height: 100%;
		z-index:1;

	}
}

.trio-1 {
	opacity: 1;
	transform:scale(1);
}

.trio-2{
	opacity: 0;
	transform: translate(232px, 0);
}
.stack{
	 section.present {
	.trio-1 {
		@include accelerate();
		z-index: 2;
		transform-origin: (15%, 25%);
		transform:scale(1);
		animation: trioexit 2.9s 4.6s linear forwards;
	}


	.scale-alternate {
		@include accelerate();

		transform: scale(1.5);
		transform-origin: (15%, 42%);
		animation: alternateorigin 15s 2.3s alternate infinite;

	}

	.image-greyscale img{
		@include accelerate();
		animation: tograyscale 0.5 2.3s forwards;

	}
}
}


	@keyframes tograyscale {
	to{
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		filter: grayscale(100%);
	}
}



@-webkit-keyframes trioexit{
	0% {
		opacity: 1;
		transform:scale(1);
	}
	100% {
		visibility: hidden;
		opacity: 0;
		transform:scale(1.4);
	}
}



@-webkit-keyframes trioentry{
	0% {
		opacity: 0;
		transform: translate(232px, 0);



	}
	100% {
		opacity: 1;
		transform: translate(0, 0);

	}
}


	@-webkit-keyframes tograyscale {
	to{
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		filter: grayscale(100%);
	}
}

@keyframes alternateorigin {
	0% {
		transform-origin: (15%, 42%) ;
	}
	33% {
		transform-origin: (46%, 48%) ;
		transform: scale(1.4);

	}
	66%{
		transform-origin: (75%, 52%) ;
		transform: scale(1.3);

	}
	100% {
		transform-origin: (83%, 48%) ;
	}
}


@-webkit-keyframes alternateorigin {
	0% {
		transform-origin: (15%, 42%) ;
	}
	33% {
		transform-origin: (46%, 48%) ;
	}
	66%{
		transform-origin: (75%, 52%) ;
	}
	100% {
		transform-origin: (83%, 48%) ;
	}
}

@-webkit-keyframes text-fadein {
	0% {
		opacity: 0;
		transform: translate(-32px, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes text-fadein {
	0% {
		opacity: 0;
		transform: translate(-32px, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}


@keyframes changeLetter {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translate(32px, 0);

	}

	2%{
		opacity: 1;
		visibility: visible;
		transform: translate(0, 0);
	}

	31% {
		opacity: 1;
		visibility: visible;
		transform: translate(0, 0);

	}
	33%{
		opacity: 0;
		visibility: hidden;
		transform: translate(-32px, 0);

	}

	98% {
		opacity: 0;
		visibility: hidden;

		transform: translate(32px, 0);

	}
	100% {
		opacity: 0;
		visibility: hidden;

		transform: translate(32px, 0);

	}
}


@-webkit-keyframes changeLetter {
	0% {
		opacity: 1;
		visibility: visible;
		transform: translate(0, 0);

	}

	31% {
		opacity: 1;
		visibility: visible;
		transform: translate(0, 0);

	}
	33%{
		opacity: 0;
		visibility: hidden;
		transform: translate(-32px, 0);

	}

	98% {
		opacity: 0;
		visibility: hidden;

		transform: translate(32px, 0);

	}
	100% {
		opacity: 0;
		visibility: hidden;
		transform: translate(32px, 0);

	}
}



@keyframes changeLetter2 {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translate(32px, 0);

	}
	4%{
		opacity: 1;
		visibility: visible;
		transform: translate(0, 0);
	}

	21% {
		opacity: 1;
		visibility: visible;
		transform: translate(0, 0);

	}
	23%{
		opacity: 0;
		visibility: hidden;
		transform: translate(-32px, 0);

	}

	25%{
		opacity: 0;
		visibility: hidden;
		transform: translate(-32px, 0);

	}
	100%{
		opacity: 0;
		visibility: hidden;
		transform: translate(-32px, 0);

	}
}


@-webkit-keyframes changeLetter2 {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translate(32px, 0);

	}
	4%{
		opacity: 1;
		visibility: visible;
		transform: translate(0, 0);
	}

	21% {
		opacity: 1;
		visibility: visible;
		transform: translate(0, 0);

	}
	23%{
		opacity: 0;
		visibility: hidden;
		transform: translate(-32px, 0);

	}

	25%{
		opacity: 0;
		visibility: hidden;
		transform: translate(-32px, 0);

	}
	100%{
		opacity: 0;
		visibility: hidden;
		transform: translate(-32px, 0);

	}
}


.reveal .slides section{
	.intro-cycle1, .intro-cycle2, .intro-cycle3, .intro-cycle4{
		position: absolute;
		color: #ffffff;
		display: block;
		width: 100%;
		font-weight: 100;
		font-size: 100px;

	}
}

.reveal .slides section{
	.slideshow1, .slideshow2, .slideshow3{
		position: absolute;
		color: #ffffff;
		display: block;

		opacity:0;
		width: 100%;

		font-size: 100px;
		font-weight: 100;
	}

	.intro-cycle1, .intro-cycle2, .intro-cycle3, .intro-cycle4 {
		color: #ffffff;
		display: block;
		opacity:0;
		width: 100%;
		font-weight: 100;
		font-size: 100px;
	}
}


.reveal .slides section.present {


	.intro-cycle1 {
		@include accelerate();
		color: #ffffff;
		display: block;
		opacity:1;
		width: 100%;

	-webkit-animation: changeLetter2  20s 0s linear infinite;
	-o-animation: changeLetter2 20s 0s linear infinite;
	animation: changeLetter2  20s 0s linear infinite;
	}

	.intro-cycle2{
		@include accelerate();
		color: #ffffff;
		display: block;
		opacity:0;
		width: 100%;

		-webkit-animation: changeLetter2  20s -15s linear infinite;
		-o-animation: changeLetter2 20s -15s linear infinite;
		animation: changeLetter2  20s -15s linear infinite;
	}
	.intro-cycle3{
		@include accelerate();
		color: #ffffff;
		display: block;
		opacity:0;
		width: 100%;

		-webkit-animation: changeLetter2  120s -10s linear infinite;
		-o-animation: changeLetter2 20s -10s linear infinite;
		animation: changeLetter2  20s -10s linear infinite;
	}
	.intro-cycle4{

		@include accelerate();
		color: #ffffff;
		display: block;
		opacity:0;
		width: 100%;

		-webkit-animation: changeLetter2  20s -5s linear infinite;
		-o-animation: changeLetter2 20s -5s linear infinite;
		animation: changeLetter2  20s -5s linear infinite;
	}


	.slideshow1{

		@include accelerate();
		position: absolute;
		color: #ffffff;
		display: block;
		opacity:1;
		width: 100%;

		-webkit-animation: changeLetter  15s 0s linear infinite;

		-o-animation: changeLetter 15s 0s linear infinite;
		animation: changeLetter  15s 0s linear infinite;
	}

	.slideshow2{

		@include accelerate();
		position: absolute;
		color: #ffffff;
		display: block;

		opacity:0;
		width: 100%;

		-webkit-animation: changeLetter 15s -5s  linear infinite;

		-o-animation: changeLetter  15s -5s linear infinite;
		animation: changeLetter  15s -5s linear infinite;
	}

	.slideshow3{
		@include accelerate();
		color: #ffffff;
		position: absolute;
		display: block;

		opacity:0;
		width: 100%;

		-webkit-animation: changeLetter  15s -10s linear infinite;
		-webkit-animation-fill-mode: forwards;
		-moz-animation-fill-mode: forwards;
		-o-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
		-o-animation: changeLetter  15s -10s linear infinite;
		animation: changeLetter  15s -10s linear infinite;
	}
}

.blue-fader-fast{
	background: rgba(12, 50, 115,0.8);
	width: 100%;
	height: 100%;
	left: 0;
	transition: left 0.7s 0.8s;
	position: absolute;
	z-index: 5;
}

.fragment-gradient{

		content: '';
		z-index: 100;
		position: absolute;
		height: 150%;
		-webkit-transform: skew(15deg);
		-moz-transform: skew(15deg);
		-o-transform: skew(15deg);
		left: -200%;
		width: 170%;
		background: #0c3273;
		transition: left 2.4s;

}




.slides section {
	.fragment{
		opacity: 0;
		transition: opacity 0.3s 0.7s ease;
	}
	.fragment.display-current {
		.fragment-second {

			@include accelerate();
			opacity: 0;
			transition: opacity 0.3s 0.6s ease;
		}
	}

}
.animate-fragment {
	opacity:0;
	transition: opacity 0.3s 0.8s;
}


.slides section .present {
	.animate-fragment {
		@include accelerate();
		opacity: 1;
	}

	.fragment.display-current.visible, .swipe{

		.fragment-second {
			@include accelerate();
			opacity: 1;
		}

		.blue-fader-fast {

			@include accelerate();
			left: 120%;
		}

		.fragment-gradient {
			-webkit-transform: skew(15deg);
			-moz-transform: skew(15deg);
			-o-transform: skew(15deg);
			left: 120%;
			//-webkit-animation: fastfade 2.2s  linear forwards;
			//-o-animation: fastfade 2.2s linear forwards;
			//animation: fastfade 2.2s linear forwards;
		}
	}
}


@keyframes fastfade {
	to {
		left:120%
	}
}


.slide-gradient:before{

	content: '';
	z-index: 100;
	position: absolute;
	height: 150%;
	-webkit-transform: skew(15deg);
	-moz-transform: skew(15deg);
	-o-transform: skew(15deg);
	left: -200%;
	width: 170%;
	background: #0c3273;
	transition: left 2.8s 0.25s;
}


.reveal .slides section .present{
	.slide-gradient:before{
		@include accelerate();
		-webkit-transform: skew(15deg);
		-moz-transform: skew(15deg);
		-o-transform: skew(15deg);
		left: 155%;
	}
}



.slide-gradient-main:before{

	content: '';
	z-index: 100;
	position: absolute;
	height: 150%;
	-webkit-transform: skew(15deg);
	-moz-transform: skew(15deg);
	-o-transform: skew(15deg);
	left: -200%;
	width: 170%;
	background: #0c3273;
	transition: left 2.8s 0.25s;
}

.reveal .slides section.present{
	.slide-gradient-main:before{
		@include accelerate();
		-webkit-transform: skew(15deg);
		-moz-transform: skew(15deg);
		-o-transform: skew(15deg);
		left: 155%;
	}
}
