.ar-toggle-link {
	position: absolute !important;
	z-index: 3;
	bottom: 0;
	margin: 0 !important;
	padding: 0 !important;
	outline: none !important;
	border: none !important;
	left: 5px;
	IMG {
		height: 92px !important;
		max-width: 100% !important;
		max-height: 100% !important;
		border: none !important;
		margin: 0 !important;
		padding: 0 !important;
		transition: none !important;
		vertical-align: bottom !important;
	}
	&__icon {
		height: 92px;
	}
	
	&:hover {
		color: transparent;
		border: none !important;
		IMG {
			border: none !important;
			max-width: 100% !important;
			max-height: 100% !important;
			margin: 0 !important;
			padding: 0 !important;
			transition: none !important;
		}
	}
}