.slides {
  img.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border: none;
  }

  img.background-image-map {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    border: none;
  }

  .map-background{
    background: #082961;
    height: 100%;
  }

  img.background-image.fadein {
    opacity: 0;
  }
  img.background-image.fadein.fadein--active {
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    opacity: 1;
  } 
}
