.blue-filter{
	height: 100%;
	background-color: rgba(0, 41, 111, 0.50);
	width: 100%;
	z-index: 1;
	position: absolute;
}

.blue-filter-strong{
	height: 100%;
	background-color: rgba(12, 50, 115, 0.65);
	width: 100%;
	z-index: 1;
	position: absolute;
}

.intro-buttons{

	z-index: 2;
}

.zoom-image{
	-webkit-transform-origin: 80% 59%;
	transform-origin: 80% 0%;
	-webkit-transform: scale(1.3);
	transform: scale(1.7);
}

.title-image-zoom{
	transform-origin: 55% 100%;
	transform: scale(2.6);
}

.holo-image{
	z-index:2;

}

.reveal .holo-mapfinder img{

	z-index: 2;
	display: block;
	left: 42%;
	height: 20%;
	position: absolute;
	border-radius: 15%;
	top: 70%;
	border: none;
}


.blue-fader{
	background: -moz-linear-gradient(left, rgba(12, 50, 115,1) 0%,  rgba(12, 50, 115,0.8) 100%,  rgba(12, 50, 115,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(12, 50, 115,1)), color-stop(100%, rgba(12, 50, 115,0.8)), color-stop(100%, rgba(18,65,145,0)));
	background: -webkit-linear-gradient(left, rgba(12, 50, 115,1) 0%, rgba(12, 50, 115,0.8) 100%, rgba(12, 50, 115,0) 100%);
	background: -o-linear-gradient(left, rgba(12, 50, 115,1) 0%, rgba(12, 50, 115,0.8) 100%, rgba(12, 50, 115,0) 100%);
	background: -ms-linear-gradient(left, rgba(12, 50, 115,1) 0%, rgba(12, 50, 115,0.8) 100%, rgba(18,65,145,0) 100%);
	background: linear-gradient(to right, rgba(12, 50, 115, 1) 0%, rgba(12, 50, 115,0.8) 100%, rgba(18,65,145,0) 100%);
	bottom: 0;
	height: 280%;
	margin: 0;
	position: absolute;
	left: -30%;
	width: 0;
	z-index: 2;

}

.blue-fader-image{
	background: rgba(18,65,145,0.9);
	background: -moz-linear-gradient(left, rgba(12, 50, 115,0.9) 0%,  rgba(12, 50, 115,0.8) 100%,  rgba(12, 50, 115,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(12, 50, 115,1)), color-stop(100%, rgba(12, 50, 115,0.8)), color-stop(100%, rgba(18,65,145,0)));
	background: -webkit-linear-gradient(left, rgba(12, 50, 115,0.9) 0%, rgba(12, 50, 115,0.8) 100%, rgba(12, 50, 115,0) 100%);
	background: -o-linear-gradient(left, rgba(12, 50, 115,0.9) 0%, rgba(12, 50, 115,0.8) 100%, rgba(12, 50, 115,0) 100%);
	background: -ms-linear-gradient(left, rgba(12, 50, 115,0.9) 0%, rgba(12, 50, 115,0.8) 100%, rgba(18,65,145,0) 100%);
	background: linear-gradient(to right, rgba(12, 50, 115, 0.9) 0%, rgba(12, 50, 115,0.8) 100%, rgba(18,65,145,0) 100%);
	bottom: 0;
	height: 280%;
	margin: 0;
	position: absolute;
	left: -2%;
	width: 0;
}

.st0{fill:none;stroke:#4AC1ED;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0,8;}
.st1{fill:none;}
.st2{fill:#3CBFF0;}
.st3{font-family:'Nokia Pure Headline';}
.st4{font-size:98.6977px;}

.mirror{
	-moz-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	transform: scale(-1, 1);
}


.fragment.current-before {
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s 0.8s ease;

}

.reveal .slides section .present .fragment.current-before {
	opacity: 1;
	visibility: visible;
	transition: all 0.2s 0.8s ease;

	&.current-fragment,.visible{
		opacity: 0;
		visibility: hidden;
	}

}

.reveal .slides section .present .fragment.current-before.visible {
	opacity: 0;
	visibility: hidden;
}

.ng-modal-overlay {
	position:absolute;
	z-index:9999;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#000000;
	opacity: 0.8;
}
.ng-modal-dialog {
	z-index:10000;
	position: absolute;
	width: 50%; /* Default */

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);

	background-color: #fff;
	box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
	padding:10px;
	text-align: left;
}
.ng-modal-close {
	position: absolute;
	top: 3px;
	right: 5px;
	padding: 5px;
	cursor: pointer;
	font-size: 120%;
	display: inline-block;
	font-weight: bold;
	font-family: 'arial', 'sans-serif';
}
