@keyframes fadeout {
	0% { opacity: 0; }
	20%, 80% { opacity: 1; }
	100% { opacity: 0; }
}



.reveal {
	.fadeout-title {
		position: absolute;
		left: 275px;
		top: 186px;
		opacity: 0;
		font: {
			size: 48px;
			family: $font-std;
			weight: $font-weight-light;
		}
	}

	.fadeout-title--blue {
		color: $color-pri-nokia-blue;
	}

	.fadeout-title--fade {
		animation-name: fadeout;
		animation-duration: 5s;
		animation-fill-mode: forwards;

	}

	//fade in titles

	.fadein-title {
		position: absolute;
		left: 275px;
		top: 186px;
		opacity: 0;
		font: {
			size: 48px;
			family: $font-std;
			weight: $font-weight-light;
		}

		.fadeout-title--blue {
			color: $color-pri-nokia-blue;
		}

		.fadeout-title--white {
			color: $color-pri-white;
		}

		.fadeout-title--fade {
			animation-name: fadeout;
			animation-duration: 5s;
			animation-fill-mode: forwards;

		}
	}

}
