.reveal {
	.nav-index {
		display: block;
		position: absolute;
		top: 0;
		left: 100px;
		width: 2431px;
		height: 100%;
		z-index: 20;
		padding-left: 0;
		padding-top: 200px;
		background: #fff;
		min-height: 100%;
	}

	.nav-index__heading {
		position: absolute;
		top: 100px;
		left: 100px;
		color: $color-pri-nokia-blue;
		text-transform: none;
		font: {
			size: 42px;
			family: $font-std;
			weight: $font-weight-normal;
		}
		width: 36%;
	}

	.index-item-container {
		margin-left: 100px;
		width: 743px;
	}

	.index-item {
		font-size: 50px;
		padding: 40px;
		background: $color-pri-nokia-blue;
		color: #fff;
		float: left;
		width: 743px;
		height: 280px;

		margin-top: 100px;
	}

	.index-item--small {
		font-size: 28px;
		width: 321.5px;
		margin-top: 100px;
		margin-right: 100px;

		&:nth-child(odd) {
			margin-right: 0;
		}
	}
}