.reveal {
	.intro-buttons {
		position: absolute;

		left: 10%;
		bottom: 7%;
		width:100%;

		.move-button {
			background: #124191;
			color: white;
			width: 11%;
			padding: 1.5% 1% 1% 1%;
			margin: 1.5rem 1rem;
			cursor: pointer;
			text-align: center;
			display: inline-block;
		}

		.move-button:hover {
			color: $color-acc-light-blue;
		}
		.move-button.active {
			color: $color-acc-light-blue;
		}
	}

	.intro-overlay {
		position: absolute;
	    height: 100%;
	    width: 100%;
	    top: 0;
	    left: 0;
	    background: rgba(0, 0, 0, 0.4);
	}

	.intro-slide__minititle {
		display: block;
		position: absolute;
		right: 150px;
		top: 123px;
		font: {
			family: $font-std;
			size: 30px;
			weight: $font-weight-light;
		}
	}

	.intro-slide__topic {
		position: absolute;
		display: block;
		left: 250px;
		top: 250px;
		width: 55%;
		font: {
			family: $font-std;
			size: 70px;
			weight: $font-weight-light;
		}

		&--below {
			position: initial;
		}

	}
	.intro-slide__heading {
		position: absolute;
		display: block;
		left: 280px;
		top: 380px;
		width: 80%;
		margin-left: -10px;
		line-height: 1;
		z-index: 2;
		font: {
			family: $font-std;
			size: 200px;
			weight: $font-weight-ultralight;
		}
	}
}
