.reveal {

	.slide-logo-blue,
	.slide-logo-white {
		display: block;
		position: absolute;
		width: 10%;
		height: 4%;
		bottom: 60px;
		right: 100px;
		z-index: 95;
	}

	.slide-logo-transparent {
		display: block;
  	position: absolute;
  	width: 10%;
  	height: 4%;
  	top: 10px;
  	right: 30px;
  	z-index: 95;
	}

	.intro-logo-blue,
	.intro-logo-white {
		display: block;
		position: absolute;
		width: 10%;
		height: 10%;
		top: 50px;


		left: 10%;
		z-index: 95;
	}

	.slide-logo-nokia-starhub{
		background: url(../assets/images/starhub.png) center center no-repeat;
		background-size: contain;
		display: block;
		position: absolute;
		width: 10%;
		height: 4%;
		bottom: 60px;
		right: 430px;
		z-index: 95;

	}

	.slide-logo-white {
		@include nokia-logo('white');
	}

	.slide-logo-blue {
		@include nokia-logo('blue');
	}

	.intro-logo-white {
		@include nokia-logo('white');
	}

	.intro-logo-blue {
		@include nokia-logo('blue');
	}

}
