.reveal {

	.menubar {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100px;
		background: #b4c2c6;
		z-index: 100;

		transition: transform 300ms ease-out;
	}


	.menubar.ng-hide {
		display: block !important;
		transform: translateX(-100px);
		opacity: 0;

		.menubar__button-container {
			background: transparent;
			transform: translateX(100px);
		}
	}

	.menubar.ng-hide-remove-active {
		display: block !important;
		transform: translateX(0);
		opacity: 1;
	}

	.menubar.ng-hide-add-active {
		display: block !important;
		transform: translateX(-100px);
		opacity: 0;
	}



	.menubar--transparent {

		width: 0;
		.menubar__button-container {
			top: -9px;
			left: 10px;
			background: transparent;
			border-radius: 5px;
			transform: scale(0.6);
		}

		.menubar__button {
			background: $color-sec-gray2;
			&:after,
			&:before {
				background: $color-sec-gray2;
			}
		}
	}

	.menubar__button-container {
		position: absolute;
		left: 0;
		top: 10%;
		width: 100px;
		height: 100px;
		background: #99a2af;
		cursor: pointer;

		&:hover {
			*,
			*:before,
			*:after {
				background-color: $color-acc-light-blue;
			}
		}
	}

	$btn-bar-height: 12px;

	.menubar__button {
		height: $btn-bar-height;
		width: 80%;
		border-radius: $btn-bar-height;
		display: block;
		position: absolute;
		top: 50%;
		left: 52%;
		transform: translate3d(-50%,-50%,0);

		content: "";
		background: #fff;
		transition: all 300ms ease-out, background-color 1ms linear, right 300ms linear;

		&:before,
		&:after {
			cursor: pointer;
			border-radius: $btn-bar-height;
			height: $btn-bar-height;
			width: 100%;
			display: block;
			position: relative;
			right: 0px;
			content: "";
			background: #fff;
			transition: all 300ms ease-out, background-color 1ms linear, right 300ms linear;
		}

		&:before {
			top: 2.33 * -$btn-bar-height;
			position: absolute;
			right: 0px;
		}

		&:after {
			top: 2.33 * $btn-bar-height;
			position: absolute;
		}
	}


	.main-menu {
		width: 16%;
		position: absolute;
		z-index: 101;
		left: 0;
		top: 0;
		height: 100%;
		background: $color-sec-gray2;
		color: #fff;
		opacity: 1;

		transition: transform 300ms ease-out, opacity 300ms ease-out;

		a {
			color: #fff;
		}
	}

	.main-menu.ng-hide {
		transform: translateX(-16%);
		opacity: 0;
	}

	.main-menu.ng-hide-remove-active {
		display: block !important;
		transform: translateX(0);
		opacity: 1;
	}

	.main-menu.ng-hide-add-active {
		display: block !important;
		transform: translateX(-16%);
		opacity: 0;
	}


	.main-menu__close {
		position: absolute;
		right: -130px;
		height: 90px;
		width: 90px;
		cursor: pointer;

		&:before,
		&:after {
			background: $color-sec-gray2;
			border-radius: $btn-bar-height;
			position: absolute;
			content: "";
			height: 9px;
			width: 70px;
			top: 50%;
			left: 0;
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}

		&:hover {
			&:before,
			&:after {
				background-color: $color-acc-light-blue;
			}
		}
	}

	.main-menu__container {
		padding: 50px 30px;

	}

	.main-menu__demo-name {
		display: block;
		padding: 20px 0;
		border-bottom: 1px solid #fff;
		font-size: 30px;

		a {
			display: block;
		}
	}

	.main-menu__root {
		display: block;
	}

	.main-menu__list {
		display: block;
		list-style: none;
		margin: 0;
	}

	.main-menu__list--subslides {
		display: block;
	}

	input[type=checkbox] {
		position: absolute;
		visibility: hidden;
	}

	.subslide-parent{


		.main-menu__list--subslides {
			display: none;
		}
		label{
			span{
				display: block;
				padding-top: 26px;
				padding-bottom: 16px;
				min-height: 62px;
				padding-left: 20px;
				border-bottom: 1px solid #fff;
			}
		}
	}

	input[type=checkbox] ~ .main-menu__item--subslide {
		display:none
	}
	input[type=checkbox]:checked ~ .main-menu__item--subslide{
		display: block;
	}


	.main-menu__item {
		font-size: 30px;

		a > span {
			display: block;
			padding: {
				top: 26px;
				bottom: 16px;
			}
			min-height: 62px;
			border-bottom: 1px solid #fff;


		}



	}

	.main-menu__item--subslide {

		a > span {
			padding-left: 40px;
		}

		&:first-child {
			a > span {
				padding-left: 20px;
			}
		}
	}


}

