.nav-left,
.nav-right,
.nav-up,
.nav-down {
	position: absolute;
	background: transparent;
	z-index: 90;
	cursor: pointer;
}

.nav-left {
	left: 0;
	width: 0px;
	top: 10%;
	bottom: 11%;
}

.nav-right {
	right: 0;
	width: 0px;
	top: 5%;
	bottom: 10%;
}

.nav-up {
	top: 0;
	height: 120px;
	left: 6.5%;
	right: 14%;
	background: url(../assets/images/up.svg) no-repeat;
	background-position: center bottom;
	background-size: 100px 100px;
}

.nav-down {
	bottom: 0;
	height: 120px;
	left: 21%;
	right: 21%;
	background: url(../assets/images/down.svg) no-repeat;
	background-position: center top;
	background-size: 100px 100px;
}

.nav-down--with-space-for-video-controls {
	height: 120px;
	bottom: 0;
	left: 17%;
	background-position: 50% top;
}

.nav-index-logo {
	display: block;
	position: absolute;
	right: -100px;
	width: 10%;
	height: 10%;
	@include nokia-logo('blue');
	bottom: 0;
}