.placeholder-dummy-slide {
	background-image: url(../assets/images/placeholder.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
}

.reveal {
	.placeholder-text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: 60%;
		height: 40%;
		background: #000;
		color: #fff;
		opacity: 0.35;
		font-size: 2em !important;
		text-align: center;
		padding: 4em 2em !important;
	}
}

.reveal {
	.video-pause-overlay-example {
		position: absolute;
		background: #124191;
		color: #fff;
		padding: 30px;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);

		// Starting styles for the enter animation.
		&.ng-enter {
			transition: opacity 300ms ease-out;
			opacity: 0;
		}

		// Finishing styles for the enter animation
		&.ng-enter.ng-enter-active {
			opacity: 1;
		}

		// Starting styles for the leave animation
		&.ng-leave {
			transition: opacity 300ms ease-out;
			opacity: 1;
		}

		// Finishing styles for the leave animation
		&.ng-leave.ng-leave-active {
			opacity: 0;
		}

	}



	.video-pause-overlay-example__text {
		font-size: 30px;
	}
}
