rzslider {
	bottom: 37px;
	position: absolute;
	left: 100px;
	width: 340px;
	display: block;
	padding: 30px 0;
	transition: opacity 250ms ease-in-out;

	&:hover {
		.rz-bar {
			opacity: 0.75;
		}
		.rz-pointer {
			opacity: 1;
		}
	}

}

rzslider .rz-bar {
	transition: opacity 250ms ease-in-out;
	opacity: 0.5;
	cursor: pointer;
}

rzslider .rz-bubble {
	display: none;
}

rzslider .rz-pointer {
	top: 16px;
	background-color: $color-pri-nokia-blue;
	transition: left 60ms linear, opacity 250ms ease-in-out;
	opacity: 0.5;
}

rzslider .rz-pointer.rz-active {
	opacity: 1;
	&:after {
		background-color: $color-acc-light-blue;
	}
}