.slides {
	overflow: hidden !important;
}

.reveal .text-slide{
	position: absolute;
	top: 40%;
	min-width: 50%;
	max-width: 68%;
	left: 10%;
	line-height: 1em;
	font-size: 120px !important;
	font-weight: 100 !important;
	z-index: 2;
}

.text-container{
	position: absolute;
	top: 30%;
	left: 10%;
	width: 75%;
	z-index: 5;
}

.reveal .text-slide-intro{
	position: relative;
	display: block;
	line-height: 1em;
	font-size: 120px;
	font-weight: 100 !important;
	z-index: 2;
}


.reveal .title-slide-intro{
	position: relative;
	display: block;
	line-height: 1.2em;
	font-size: 100px ;
	font-weight: 700 !important;
	z-index: 2;
	margin-bottom: 0.2em;

}

.reveal .title-slide{
	position: absolute;
	top: 30%;
	width: 70%;
	left: 10%;
	line-height: 1.2em;
	font-size: 100px !important;
	font-weight: 700 !important;
	z-index: 2;
}

.current-fragment .text-slide{
	display: block;
}