.use-case-3__tabs--1 {
  position: absolute;
  left: 44%;
  top: 14.5%;
  display: flex;
  
  .move-button {
    height: 60px;
    width: 200px;
    margin: 0 5px;

    &:nth-child(1) {
      width: 220px;
    }
    &:nth-child(2) {
      width: 100px;
    }
    &:nth-child(3) {
      width: 148px;
    }
    &:nth-child(4) {
      width: 80px;
    }
  }
}

.use-case-3__tabs--2 {
  position: absolute;
  left: 39.5%;
  top: 13%;
  display: flex;
  
  .move-button {
    height: 60px;
    width: 200px;
    margin: 0 5px;

    &:nth-child(1) {
      width: 200px;
    }
    &:nth-child(2) {
      width: 80px;
    }
    &:nth-child(3) {
      width: 135px;
    }
    &:nth-child(4) {
      width: 65px;
    }
  }
}