

.reveal section .video-container{
	position: relative;
	height: 100%;
	width: 100%;
	margin: 26%  10% 0;

	a{
		min-width: 420px;
		min-height: 280px;
		width: 19%;
		height: 20%;
		float: left;
		display: inline-block;
		margin-bottom: 6%;
		margin-right: 2%;

		.video-thumb{
			margin: 1%;
			width: 100%;
			height: 100%;
		}

		.video-thumb-text{
			position: relative;
			color:white;
			width: 100%;
			text-align: center;
		}
	}


}