/**
 * Color definitions.
 */


// Primaries
$color-pri-blue-black: rgb(0,17,53);
$color-pri-white: rgb(255,255,255);
$color-pri-nokia-blue: rgb(18,65,145);

// Secondaries
$color-sec-gray1: rgb(237,242,245);
$color-sec-gray2: rgb(190,200,210);
$color-sec-gray3: rgb(152,162,174);
$color-sec-gray4: rgb(77,87,102);
$color-sec-gray: rgb(39,49,66);

// Accents
$color-acc-light-blue: rgb(0,201,255);
$color-acc-green: rgb(75,221,51);
$color-acc-yellow: rgb(255,251,0);
$color-acc-orange: rgb(255,153,16);
$color-acc-red: rgb(255,49,84);

/**
 * Font weights.
 */
$font-weight-ultralight: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-extrabold: 900;

/**
 * Font sets.
 */
$font-std: 'nokia-pure-headline', Helvetica, Arial, serif;


