/**
 * Clearfix for floats.
 * Has two modes, if overflow needs to remain allowed,
 * call with $allow-overflow:true.
 */


@mixin clearfix($allow-overflow) {
	@if($allow-overflow) {
		&:before,
		&:after {
			content: ' ';
			display: table;
		}

		&:after {
			clear: both;
		}
	}
	@else {
		overflow: hidden;
	}

}

@mixin transition($transition-property, $transition-time, $method, $delay: 0s) {
	-webkit-transition: $transition-property $transition-time $method $delay;
	-moz-transition: $transition-property $transition-time $method $delay;
	-ms-transition: $transition-property $transition-time $method $delay;
	-o-transition: $transition-property $transition-time $method $delay;
	transition: $transition-property $transition-time $method $delay;
}
@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}


@mixin keyframes($animationname) {
	@-o-keyframes #{$animationname} {
		@content
	};
	@-moz-keyframes #{$animationname} {
		@content
	};
	@-webkit-keyframes #{$animationname} {
		@content
	};
	@keyframes #{$animationname} {
		@content
	};
}

@mixin opacity($value) {
	-moz-opacity: $value;
	-webkit-opacity: $value;
	opacity: $value;
}

@mixin nokia-logo($color) {
	background: url(../assets/images/nokia-logo-#{$color}.png) center center no-repeat;
	background-size: contain;
}

@mixin accelerate() {
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

