// Reveal.js specific stuff, theme, etc.

@import "../../../vendor/reveal.js/css/theme/template/mixins";
@import "../../../vendor/reveal.js/css/theme/template/settings";


$mainFont: $font-std;
$linkColor: $color-acc-light-blue;


@import "../../../vendor/reveal.js/css/theme/template/theme";

.reveal {
	width: 100.5%;
	height: 100.5%;
	left: -0.25%;
	top: -0.25%;
	position: absolute;
	background: #000;
}

.reveal .slides {
	margin: 0 auto!important;
	text-align: left;
	background: #000;

	> section {
		height: 100%;
	}
}

.reveal a {
	transition: none;
}

.reveal a:hover {
	color: $linkColor;
}


.reveal section {
	padding: 0!important;

	// Room for the menu.
	/*
	> * {
		padding-left: 200px;
		padding-top: 60px;
	}
	*/
}
