/**
 * Base style declarations.
 */

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:baseline;
	background:transparent;
}

html, body {
	height: 100%;
	user-select: none;
}

body {
	background: #fff;
	font-family: $font-std;
	color: $color-sec-gray4;
	font-size: 1.5rem;
}

a {
	margin:0;
	padding:0;
	vertical-align:baseline;
	background:transparent;
	color: #000;
	text-decoration: none;
}

section {
	width: 100%;
	height: 100%;
}