/**
 * Standard headings.
 */

.reveal {

	h1 {
		font: {
			family: $font-std;
			size: 10em;
			weight: $font-weight-normal;
		}
	}

	h2 {
		font: {
			family: $font-std;
			size: 4.25rem;
			weight: $font-weight-light;
		}
	}

	h3 {
		font: {
			family: $font-std;
			size: 1.5rem;
			weight: $font-weight-bold;
		}
	}
}