
.move-button {
  cursor: pointer;
}

.move-button--slide4 {
  left: 96%;
  top: 50%;
}
.move-button--slide7-1 {
  left: 78.52%;
  top: 38.1%;
}




.move-button--slide1{
  left: 8%;
  top: 14%;
  position: absolute;
  width: 26%;
  height: 9%;
  z-index: 3;
}
.move-button--slide2{
  z-index: 2;
  display: block;
  left: 42%;
  height: 20%;
  position: absolute;
  border-radius: 15%;
  top: 70%;
width:25%;
}
.move-button--slide3{
  left: 47%;
  position: absolute;
  top: 185%;
  width: 13%;
  height: 14%;
  background: url(../assets/images/down.svg) no-repeat;
}

.move-button--slide4{
  left: 8%;
  top: 14%;
  position: absolute;
  width: 26%;
  height:39%;
  z-index: 3;
}

.move-button--slide5{
  left: 45%;
  position: absolute;
  top: 94%;
  width: 4%;
  height: 14%;
  background: url(../assets/images/down.svg) no-repeat;
  z-index: 3;
}


.move-button--slide6{
  top: 48%;
  left: 95%;
  position: absolute;
}


.move-button--slide7{
  top: 48%;
  left: 5%;
  position: absolute;

}

.move-button--slide8{
  left: 45%;
  position: absolute;
  top: 6%;
  width: 4%;
  height: 14%;
  background: url(../assets/images/up.svg) no-repeat;
  z-index: 3;
}


.move-button--slide9{
  left: 85%;
  position: absolute;
  top: 0;
  width: 15%;
  height: 80%;
  z-index: 10;
}

.move-button--exit{
  left: 4%;
  position: absolute;
  bottom: 6.35%;
  width: 40px;
  height: 40px;
  background: grey;
  opacity: 0.7;
  border-radius: 25px;
  &:after{
    content: 'x';
    padding-left: 11px;
    font-size: 38px;
  }
}



.move-button--highlight {
  position: absolute;
  width: 50px;
  height: 50px;
}

.move-button--highlight:after {
  box-sizing: content-box;
  content: '';
  position: absolute;
  border: 10px solid #00c8ff !important;
  background-color: transparent;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  z-index: 600;
  animation: centerPulse 1.5s ease-in-out infinite alternate;
}

@keyframes centerPulse {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
