video-slide {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.video-slide {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.video-slide__video {
	max-width: 100% !important;
	max-height: 100% !important;
	width: 100%;
	height: 100%;
}