<!doctype html>
<html ng-app="app">
<head>
    <script type="text/javascript" src="vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="vendor/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="vendor/reveal.js/lib/js/head.min.js"></script>
    <script type="text/javascript" src="vendor/reveal.js/js/reveal.js"></script>
    <script type="text/javascript" src="vendor/masonry/dist/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="templates.js"></script>
    <script type="text/javascript" src="code.js"></script>
    <link rel="stylesheet" type="text/css" href="vendor/reveal.js/css/reveal.css">
    <link rel="stylesheet" type="text/css" href="vendor/angularjs-slider/dist/rzslider.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css" id="theme">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Nokia</title>
    <script>
        // Polyfill for IE.
        if (!('remove' in Element.prototype)) {
            Element.prototype.remove = function() {
                if (this.parentNode) {
                    this.parentNode.removeChild(this);
                }
            };
        }

        // Filename recognition to hack direct slide embeds in SmartPerform
        if(window.location.hash == "") {
            var r = new RegExp("(.*)\/(.*)(\.html)$");
            var pathSplit = r.exec(window.location.pathname);
            var slideNumber = pathSplit[2].split("-");
            if(slideNumber[0] != 'index') {
                var slidePath = "/" + slideNumber[0] + (slideNumber.length > 1 ? "/" + slideNumber[1] : "");
                window.location.hash = slidePath;
            }

        }

    </script>
    <script>
        <%
        var names = [];
        demo.slides.forEach(function(slide, index) {
            if(!Array.isArray(slide) && slide.enabled && !slide.link) {
                names.push(!slide.notInNavi ? slide.title : null);
            }
            else if(Array.isArray(slide)) {
                var subslideNames = [];
                slide.forEach(function(subSlide, subIndex) {
                    if(subSlide.enabled && !subSlide.link) {
                        subslideNames.push(!subSlide.notInNavi ? subSlide.title : null);
                    }
                });
                names.push(subslideNames);
            }
        });
        %>
        window.slideSummary = <%= JSON.stringify(names) %>;
    </script>
</head>
<body>

<div class="reveal">
    <div class="slides" ng-controller="MenuController as menu">
        <!-- common menu for all slides -->
        <div class="menubar menubar--transparent">
            <div class="menubar__button-container" ng-click="menu.menuVisible = true">
                <div class="menubar__button"></div>
            </div>
        </div>

        <nav class="nav-left" ng-click="menu.goPrevSlide()" ng-show="menu.navigationState.left"></nav>
        <nav class="nav-right" ng-click="menu.goNextSlide()" ng-show="menu.navigationState.right"></nav>
        <nav class="nav-up" ng-click="menu.goPrevSubSlide(); menu.resetSlideState();" ng-show="menu.navigationState.up"></nav>
        <nav class="nav-down nav-down--with-space-for-video-controls" ng-click="menu.goNextSubSlide()" ng-show="menu.navigationState.down"></nav>
        <nav class="nav-down" ng-click="menu.showIndexOverlay(true)" ng-show="(menu.inIntroScreen && !menu.indexOverlayShown) && !<%= demo.hideIndexView %>"></nav>
        <nav class="nav-up" ng-click="menu.showIndexOverlay(false); menu.resetSlideState()" ng-show="menu.inIntroScreen && menu.indexOverlayShown"></nav>

        <div class="nav-index" ng-show="menu.indexOverlayShown" slide-index slide-index-init="menu.indexOverlayShown">
            <h1 class="nav-index__heading"><%= demo.demoName %></h1>
            <div class="index-item-container" ng-repeat="(itemIndex, item) in menu.getIndexItems() track by $index">
                <a ng-if="!menu.isArray(item) && item != null" class="index-item" ng-href="#/{{itemIndex}}" ng-click="menu.resetSlideState()">
                    <div class="index-item__title" ng-bind="item"></div>
                </a>
                <div ng-if="menu.isArray(item)">
                    <a ng-click="menu.resetSlideState()" ng-repeat="(subItemIndex, subItem) in item track by $index" class="index-item" ng-class="{'index-item--small':subItemIndex > 0}" ng-href="#/{{itemIndex}}/{{subItemIndex}}">
                        <div ng-if="subItem != null" class="index-item__title" ng-bind="subItem"></div>
                    </a>
                </div>
            </div>
            <div class="nav-index-logo"></div>
        </div>
        <div class="main-menu" ng-show="menu.menuVisible">
            <div class="main-menu__close" ng-click="menu.menuVisible = false"></div>
            <div class="main-menu__container">
                <ul class="main-menu__list">
                    <li class="main-menu__demo-name"><a href="#/" ng-click="menu.resetSlideState()"><%= demo.demoName %></a></li>
                    <li class="main-menu__root">
                        <ul class="main-menu__list" >
                            <% var slideSkip = 0; %>
                            <% demo.slides.forEach(function(slide, index) { %>
                            <% if(!Array.isArray(slide) && slide.enabled && slide.notInNavi != true) {
                                 if(slide.link) {
                                    slideSkip++; %>
                                    <li class="main-menu__item" ng-show="<%= slide.hideInIos ? '!menu.isInsideCordova':'true' %>">
                                        <a href="<%= slide.link %>"><span><%= slide.title %></span></a>
                                    </li>
                                    <%
                                 } else { %>
                                    <li class="main-menu__item">
                                        <a href="#/<%= (index-slideSkip) %>" ng-click="menu.resetSlideState()"><span><%= slide.title %></span></a>
                                    </li>
                            <%   }
                               } else if(slide.notInNavi != true) { %>
                                <li class="main-menu__item">
                                    <ul class="main-menu__list main-menu__list--subslides">
                                        <% var subSlideSkip = 0; %>
                                        <% slide.forEach(function(subSlide, subIndex) {
                                             if(subSlide.enabled && !subSlide.notInNavi) {
                                                if(subSlide.isParentLink) {
                                                    subSlideSkip++; %>
                                         <input type="checkbox" name="hamburger-menu__item-group-1" id="sub-group-1">
                                            <li class="main-menu__item main-menu__item subslide-parent" ng-show="<%= subSlide.hideInIos ? '!menu.isInsideCordova':'true' %>"><label for="sub-group-1"><span><%= subSlide.title %></span></label></li>
                                        <%
                                        }
                                        if(subSlide.link) {
                                                    subSlideSkip++;
                                            if(subSlide.isParentLink) {

                                                } else { %>
                                                    <li class="main-menu__item main-menu__item--subslide" ng-show="<%= subSlide.hideInIos ? '!menu.isInsideCordova':'true' %>"><a href="<%= subSlide.link %>"><span><%= subSlide.title %></span></a></li>
                                                    <%
                                                }
                                        } else { %>
                                            <li class="main-menu__item main-menu__item--subslide"><a ng-click="menu.resetSlideState()" href="#/<%= (subIndex-subSlideSkip) == 0 ? (index-slideSkip) : (index-slideSkip) + '/' + (subIndex-subSlideSkip) %>"><span><%= subSlide.title %></span></a></li>
                                            <%
                                            }
                                         }
                                       }); %>
                                    </ul>
                                </li>
                            <% } %>
                            <% }); %>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <!-- slides -->
        <% demo.slides.forEach(function(slide, index) { %>
        <% if(!Array.isArray(slide) && slide.enabled && !slide.link) { %>
        <%= section(slide, index, -1) %>
        <% } else if(Array.isArray(slide)) { %>
        <section>
            <% slide.forEach(function(subSlide, subIndex) { %>
            <% if(subSlide.enabled && !subSlide.link) { %>
            <%= section(subSlide, index, subIndex) %>
            <% } %>
            <% }); %>
        </section>
        <% } %>
        <% }); %>
    </div>
</div>

</body>
</html>