<%section(slide) %>
<% if(index > 0 && slide.dataAutoslide) { %>
<section data-transition-speed="slow" data-autoslide="<%= slide.dataAutoslide%>" data-transition="fade" >
<%} else {%>
    <section data-transition-speed="slow" data-autoslide="18000" data-transition="fade" >
<% }%>
    <%= section(slide) %>
    <% if(index > 0 && !slide.noFadingTitle) { %>
        <div class="fadeout-title fadeout-title--<%= slide.class !== undefined ? slide.class : '' %>">
        <%= slide.title %>
        </div>
    <% } %>

</section>